body {
	margin: 0 auto;
	
	max-width: 960px;

	background-color: #eee;

	font-family: sans-serif;
}


nav {
	box-sizing: border-box;

	padding: 20px 40px;
	
	background-color: #111;
	color: #eee;
}

article {
	padding: 20px 40px;
}

nav a {
	color: #eee;
}

nav a:hover {
	background-color: #eee;
	color: #111;
}

a:hover {
	background-color: blue;
	color: #eee;
}

img {
	display: block;

	margin: 0 auto;

	max-width: 800px;
}

code {
	padding: 0px 2px;
	
	background-color: #111;
	color: #eee
}

pre code {
	display: block;

	padding: 10px;

	background-color: #111;
	color: #eee;
}
